Django==4.1.7
ipdb==0.13.13
flake8==6.0.0
django-environ==0.10.0
pillow==9.4.0
django-widget-tweaks==1.4.12
ipdb==0.13.13
celery[redis]==5.2.7
django-celery-results==2.5.0
django-extensions==3.2.1
requests~=2.29.0
django-celery-beat==2.5.0
django-lifecycle==1.0.0
phonenumbers==8.13.11
django-silk==5.0.3