{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="display-4">Компьютерный магазин</h1>
        <p class="lead">Мы предлагаем широкий выбор компьютерной техники и аксессуаров по доступным ценам.</p>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2>О нас</h2>
                <p>Компьютерный магазин был основан в 2005 году. Наша компания занимается продажей и обслуживанием
                    компьютеров, ноутбуков, планшетов и смартфонов. Мы сотрудничаем с крупнейшими производителями и
                    поставщиками компьютерной техники, чтобы предложить нашим клиентам самые новые и качественные
                    товары.</p>
            </div>
            <div class="col-md-6">
                <h2>Наша миссия</h2>
                <p>Мы стремимся предоставить нашим клиентам высококачественный сервис и доступные цены на продукцию.
                    Наша команда профессиональных консультантов всегда готова помочь вам с выбором техники и дать
                    полезные советы по ее использованию и обслуживанию.</p>
            </div>
        </div>
    </div>
{% endblock content %}