{% extends 'base.html' %}

{% block content %}
  <style>
    .card-img-height {
      height: 400px;
      object-fit: cover;
    }
  </style>
  <div class="row d-flex flex-wrap justify-content-around mt-4">
    {% for product in products %}
      <div class="col-md-4 mb-4 p-5 mr-2">
        <div class="card h-100">
          <img src="{{ product.image.url }}" class="card-img-top card-img-height" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">{{ product.category }}</p>
            <p class="card-text">{{ product.price }}</p>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}


